<body>
  <!-- Event Binding -->
  <label>Server Name</label>
  <!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  /> -->

  <!-- Two way bindings -->
  <input type="text" class="form-control" [(ngModel)]="serverName" />
  <!-- <p>{{ serverName }}</p> -->
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add Server
  </button>
  <!-- <p>{{ serverCreationStatus }}</p> -->
  <p *ngIf="serverCreated; else noServer">
    Server was created successfully, name is {{ serverName }}
  </p>
  <ng-template #noServer> <p>No Server was created</p> </ng-template>
  <app-server *ngFor="let server of servers"></app-server>
</body>
